/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2017, 5:18:54 AM
    Author     : DELL
*/
/*Navigation bar stylesheet*/
#header-nav{
    background-color:#FFFACD;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #A52A2A;

}

#nav-list a {
    color: #951C49;
    text-align: center;
}

#nav-list a:hover {
    background: #E7E7E7;
}

.navbar-header button.navbar-toggle{
    clear: both;
    margin-top: -10px;
}

#nav-list a {
    color: #951C49;
    text-align: center;
    font-size: 1.5em;
}

.navbar-brand h1{
    font-family: 'Lora', serif;


    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;

    line-height: .75;
}


#logo-img {
    background: url('../images/swift.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}

a h1{
    margin-top:0em;
}
/*End of Navigation bar stylesheet*/

/*Notes stylesheet*/
.newTasks{
    padding:3px;
    border:1px solid #888;	
    -moz-border-radius:3px;  
    -webkit-border-radius: 3px;  
    border-radius:3px;
}
.newTasks input[type=text] { width:300px; padding:3px };

ul.sticky_notes{ list-style:none; }

ul.sticky_notes{
    list-style-type: none;
}
ul.sticky_notes li{
    width:250px;
    height:200px;
    padding:20px;
    margin:20px;
    float:left;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);  
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
    box-shadow: 5px 5px 7px rgba(33,33,33,.7); 
    -webkit-transform:rotate(-6deg);  
    -o-transform:rotate(-6deg);  
    -moz-transform:rotate(-6deg);  
    font-family: 'Short Stack', cursive;
}

ul.sticky_notes li:nth-child(odd){  
    -o-transform:rotate(4deg);  
    -webkit-transform:rotate(4deg);  
    -moz-transform:rotate(4deg);  
    position:relative;  
    top:5px;  
}  
ul.sticky_notes li:nth-child(2n){  
    -o-transform:rotate(-3deg);  
    -webkit-transform:rotate(-3deg);  
    -moz-transform:rotate(-3deg);  
    position:relative;  
    top:-5px;  
}  
ul.sticky_notes li:nth-child(6n){  
    -o-transform:rotate(5deg);  
    -webkit-transform:rotate(5deg);  
    -moz-transform:rotate(5deg);  
    position:relative;  
    top:-10px;  
}

.yellow{ background:#ffc; }
.green{	background:#cfc; }
.blue { background:#ccf; }
.red{ background:#f24a4a; }
.purple{ background:#eaafe3; }
.orange{ background:#f28e50; }

ul.sticky_notes li:hover{   
    -webkit-transform: scale(1.5);  
    -moz-transform: scale(1.5);  
    -o-transform: scale(1.5);  
    position:relative;  
    z-index:10;  
    -moz-box-shadow:0px 10px 7px rgba(0,0,0,.7);  
    -webkit-box-shadow: 0px 10px 7px rgba(0,0,0,.7);  
    box-shadow:0px 10px 7px rgba(0,0,0,.7); 
    -webkit-transition: all 300ms ease-in 50ms; /* property duration timing-function delay */
    -moz-transition: all 300ms ease-in 50ms;
    -o-transition: all 300ms ease-in 50ms;
    transition: all 300ms ease-in 50ms;
    cursor:pointer;
}
/*End of notes stylesheet*/

/********** Large devices only **********/
@media (min-width: 1200px) {
    #nav-list a {
        color: #951C49;
        text-align: center;
        font-size: 2em;
        margin-top:15px;
    }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    /* Header */
    #logo-img {
        background: url('../images/swift.png') no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
    /* End Header */
    a h1{
        margin-left:0.4em;
    }

    #sublogo img{
        height:2em;
        width:2em;
        margin-left:0.7em;
    }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #sublogo img{
        height:2em;
        width:2em;
        margin-left:0.7em;
    }
    a h1{
        font-size: 1.4em;
    }

    #nav-list a {
        color: #951C49;
        text-align: center;

        margin-top:10px;
    }


}

@media (max-width:767px){
    #sublogo img{
        height:2em;
        width:2em;
        margin-left:0.2em;
    }

    #collapsable-nav a { /* Collapsed nav menu text */
        font-size: 1.2em;
    }

    #collapsable-nav a span { /* Collapsed nav menu glyph */
        font-size: 1em;
        margin-right: 5px;
    }

    a h1{
        font-size: 1.4em;
    }
}